:root{
    --primary-color: rgb(60,12,72);
    --text-color: white;
    --primary-font:'Roboto', sans-serif;
}

*{
    margin: 0%;
    text-decoration: none;
    list-style-type: none;
}

header{
    background-color:var(--primary-color);
    color:var(--text-color);
    font-family:var(--primary-font);
}
a{
    display: block;
    color: var(--text-color);
}
